# Python
venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Database
*.db

# Node
node_modules/
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
*.local

# macOS
.DS_Store

# Editor
.vscode/
.idea/
